body {
  background-color: rgb(194, 231, 244);
}

.App {
  padding: 20px 20px 0 20px;
  background-color: rgb(35, 50, 82);
  box-shadow: 1px 1px 57px #1b5580;
  margin: 10% auto;
  width: 200px;
  height: 200px;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}

.breakNumDisp {
  color: red;
  text-shadow: 1px 1px 5px black;
}

.bakcgroundNum {
  height: 67px;
  width: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  background-color: rgb(213, 213, 213);
  box-shadow: 1px 1px 5px grey;

}

.bakcgroundNum label {
  font-size: 15px;
  margin-right: 4px;
  text-shadow: 1px 1px 5px grey;
}

.bakcgroundNum input {
  width: 100px;
  background-color: rgba(128, 128, 128, 0.37);
  box-shadow: 1px 1px 5px grey;
  font-weight: bold;
}

button {
  font-weight: bold;
  width: 100px;
  height: 50px;
  box-shadow: 1px 1px 5px black;
}

button:active {
  background-color: rgb(35, 50, 82);
}

button:disabled {
  color: gray;
  background-color: rgb(35, 50, 82);
}

.ButtonsBlock {
  position: relative;
}

.ButtonSettings {
  display: flex;
}

.ButtonSettings button {
  width: 200px;
}

.ErrorInputValue input {
  color: red;
  background-color: rgb(255, 159, 175);
  box-shadow: 1px 1px 5px red;
}